@charset "UTF-8";

.swagger-section #header {
    background-color: #582f87;
}

    .swagger-section #header #logo:after {
        line-height: 1.5em;
        content: 'Collector Bank';
    }

    .swagger-section #header #logo .logo__img {
        display: none;
    }

    .swagger-section #header #logo .logo__title {
        display: none;
    }

body {
    background-color: #f0f0f0;
}

#select_document {
    background-color: #C30074 !important;
}

.swagger-section #auth_container .authorize__btn, .swagger-section #explore {
    background-color: #C30074 !important;
}

.swagger-section .authorize-wrapper {
    display: none;
}

.swagger-ui-wrap .info,
.swagger-ui-wrap .container {
    background-color: #fff;
    padding: 25px;
}
.swagger-ui-wrap .info {
    margin-bottom: 25px;
}
.swagger-section .swagger-ui-wrap {
    transition: all .2s linear
}

@media screen and (min-width: 1431px) {
    .swagger-section .swagger-ui-wrap {
        max-width: 1431px;
        width: 1431px;
        transition: all .2s linear
    }

        .swagger-section .swagger-ui-wrap .info {
            float: right;
            width: 500px;
        }

        .swagger-section .swagger-ui-wrap .container {
            float: left;
            width: 812px;
            max-width: 812px;
        }
    .swagger-ui-wrap .info,
    .swagger-ui-wrap .container {
        padding: 25px;
    }

}
